use Mix.Config

config :dml, Dml.Accounts.GoogleClient,
  client_id: "CLIENT_ID",
  client_secret: "CLIENT_SECRET",
  redirect_uri: "http://localhost:4000/auth/google/callback"

config :dml, Dml.Accounts.FacebookClient,
  client_id: "CLIENT_ID",
  client_secret: "CLIENT_SECRET",
  redirect_uri: "http://localhost:4000/auth/facebook/callback"
